.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.centered {
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
}